a {
    color: #000000;
}

a:hover, a:active {
    background-color: #f8f32b;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


/* Setting fade transition and default settings */
body {
  color: #000;
  background-color: #ffffff;
  transition: background-color 1s ease;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-black {
  background-color: #000000;
}
.color-blue {
  background-color: #01baef;
}
.color-red {
  background-color: #931f1d;
}
.color-yellow {
  background-color: #fff94f;
}
.color-lightblue {
  background-color: #ccfbfe;
}
.color-pink {
  background-color: #f397d6;
}
.color-lavender {
  background-color: #b8b8f3;
}



/* button */
.button {
    background-color: #226ce0;
    border: none;
    color: #d0bcd5;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
                        
.button:hover {
    background-color: #000000;
    color: #226ce0;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}